{% extends 'blog/base.html' %}
{% load markdown_deux_tags %}
{% block content %}
    <article class="media content-section">
    {% comment %} <h1> {% endcomment %}
        {% comment %} <div class="media-body"> {% endcomment %}
            {% comment %} <p class="article-content"> {% endcomment %}
                <p>Welcome to my mikesallese.xyz</p>
            {% comment %} </p> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% comment %} </h1> {% endcomment %}
    </article>
{% endblock content %}